{% include 'header.html' %}
	<!-- main START -->
	<div id="main">

		<p align="center">
		{% if prev_post %}
		<a href="{{ site_url }}/{{ prev_post.entry_url }}"><i class="fa fa-arrow-left"></i> {{ prev_post.title }}</a> |
		{% else %}
		<span><i class="fa fa-arrow-left"></i> (no earlier posts)</span> |
		{% endif %}
		<a href="{{ site_url }}/index.html">Main</a>
		{% if next_post %}
		| <a href="{{ site_url }}/{{ next_post.entry_url }}">{{ next_post.title }} <i class="fa fa-arrow-right"></i></a>
		{% else %}
		| <span>(no newer posts) <i class="fa fa-arrow-right"></i></span>
		{% endif %}
		</p>

		<div class="post" id="post-19">
			<h2><a class="title" href="{{ site_url }}/{{ entry_url }}" rel="bookmark">{{ post.title }}</a></h2>
			<div class="info">
				<span class="date"><i class="fa fa-calendar"></i> {{ post.date_str }}</span>
				{% if post.author %}<span class="author"><i class="fa fa-user"></i> {{ post.author }}</span>{% endif %}
				<div class="fixed"></div>
			</div>
			<div class="content">
				{{ post.content_html|safe }}
				<p class="under">
				<span><i class="fa fa-folder-open"></i> <a href="{{ site_url }}/archives/cat_{{ post.category_slug }}.html">{{ post.category_name }}</a></span>
				</p>
				{% if post.tags %}
				<p class="under">
				<span><i class="fa fa-tags"></i> {% for tag in post.tag_list %}<a href="{{ site_url }}/archives/tag_{{ tag }}.html">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</span>
				</p>
				{% endif %}
				<div class="fixed"></div>
				{{ comment_code|safe }}
			</div>
		</div>

		{% if near_posts %}
		<div class="post">
			<h2>Related Posts</h2>
			<div class="content">
				<ul>
				{% for np in near_posts %}
				<li><a href="{{ site_url }}/{{ np.entry_url }}">{{ np.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

		<div id="pagenavi">
			{% if prev_post %}<span class="newer"><a href="{{ site_url }}/{{ prev_post.entry_url }}"><i class="fa fa-arrow-left"></i> {{ prev_post.title }}</a></span>{% else %}<span class="newer"></span>{% endif %}
			{% if next_post %}<span class="older"><a href="{{ site_url }}/{{ next_post.entry_url }}">{{ next_post.title }} <i class="fa fa-arrow-right"></i></a></span>{% else %}<span class="older"></span>{% endif %}
			<div class="fixed"></div>
		</div>

	</div>
	<!-- main END -->
{% include 'footer.html' %}
