{% include 'header.html' %}
	<!-- main START -->
	<div id="main">

		<p align="center">
		<a href="{{ site_url }}/index.html"><i class="fa fa-home"></i> Main</a> |
		<a href="{{ site_url }}/archives.html"><i class="fa fa-archive"></i> Archives</a>
		</p>

		{% for p in month_posts %}
		<div class="post" id="post-19">
			<h2><a class="title" href="{{ site_url }}/{{ p.entry_url }}" rel="bookmark">{{ p.title }}</a></h2>
			<div class="info">
				<span class="date"><i class="fa fa-calendar"></i> {{ p.date_str }}</span>
				{% if p.category_name %}
				<span class="categories"><i class="fa fa-folder"></i> <a href="{{ site_url }}/archives/cat_{{ p.category_slug }}.html">{{ p.category_name }}</a></span>
				{% endif %}
				<div class="fixed"></div>
			</div>
			<div class="content">
				{{ p.excerpt }}
				<p class="under">
				<span><i class="fa fa-folder-open"></i> <a href="{{ site_url }}/archives/cat_{{ p.category_slug }}.html">{{ p.category_name }}</a></span>
				</p>
				<div class="fixed"></div>
			</div>
		</div>
		{% endfor %}

	</div>
	<!-- main END -->
{% include 'footer.html' %}
